@model IList<TwitterUserDTO>

@{
    ViewData["Title"] = "ShowFavouriteTwitterUsers";
}

<h2>ShowFavouriteTwitterUsers</h2>

@foreach (var result in Model)
{
<div class="panel panel-info">
    <div class="panel-heading">
        <div>
            <img class="profile-image" src="@result.ImgUrl" name="ImgUrl" />
            <span class="name">@result.Name</span>
            <button class="button">Remove</button>
        </div>
    </div>
    <div class="panel-body">
        <p class="additional-info"><img src="https://png.icons8.com/doodle/50/000000/follow.png"><strong>FollowersCount:</strong>@result.FollowersCount</p>
        <p class="additional-info"><img src="https://png.icons8.com/color/50/000000/friends.png"><strong>FriendsCount: </strong> @result.FriendsCount</p>
        <p class="additional-info"><img src="https://png.icons8.com/ultraviolet/50/000000/marker.png">@result.Location</p>
        <p class="additional-info"><img src="https://png.icons8.com/office/30/000000/resume.png">@result.Description></p>
    </div>
</div>
}

