@model SearchResultsViewModel

@if (@Model.SearchResults.Count() != 0)
{
    <div id="search-results">
        <ul>
            @foreach (var result in Model.SearchResults)
            {
                int idForShowMoreButton = 0;

                <li class="list-group-item">
                    <form asp-controller="AddFavouriteUser" asp-action="AddUser" method="post">
                        <div class="profile">
                            <img class="profile-image" src="@result.ImgUrl" name="ImgUrl" />
                            <input type="hidden" name="ImgUrl" value="@result.ImgUrl" />

                            <span class="name">@result.Name</span>
                            <input type="hidden" name="Name" value="@result.Name" />

                            <div hidden class="additional-info">
                                <p class="followers-count"><strong>FollowersCount: </strong>@result.FollowersCount</p>
                                <input type="hidden" name="FollowersCount" value="@result.FollowersCount" />

                                <p class="friend-count"><strong>FriendsCount: </strong> @result.FriendsCount</p>
                                <input type="hidden" name="FriendsCount" value="@result.FriendsCount" />

                                <p class="location">@result.Location</p>
                                <input type="hidden" name="Location" value="@result.Location" />

                                <p class="description" @result.Description></p>
                                <input type="hidden" name="Description" value="@result.Description" />
                            </div>

                            <input type="hidden" name="TweeterUserId" value="@result.TweeterUserId" />

<<<<<<< HEAD
                            <button class="button" type="button" name="Show more info">Show more</button>
                            <button class="add-fav-user" id="@result.TweeterUserId" type="submit">Add</button>
                            @*@Html.ActionLink("Add", "AddUser", "AddFavouriteUserController", new { dto = result}, new { @class= "btn"})*@
                        </div>
                    </form>
                </li>
=======
                            @*<div class="container">
                                <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>
                            </div>*@

                            <button class="add-button" id="@result.TweeterUserId" type="submit">Add</button>
                        </div>
                    </form>
                </li>

                idForShowMoreButton++;
>>>>>>> d0f3a89aa019d5f1947bdd1f573aaa4f51524c54
            }
        </ul>
    </div>
}

else
{
    <h1> No results </h1>
}
