@model SearchResultsViewModel

@section CSS {
    <link rel="stylesheet" href="~/css/SearchResults.css" />
}

@if (@Model.SearchResults.Count() != 0)
{
    <div id="search-results">
        <ul>
            @foreach (var result in Model.SearchResults)
            {
                <li>
                    <form asp-controller="AddFavouriteUser" asp-action="AddUser" method="post">
                        <div class="profile">
                            <img class="profile-image" src="@result.ImgUrl" name="ImgUrl" />
                            <input type="hidden" name="ImgUrl" value="@result.ImgUrl" />

                            <span class="name">@result.Name</span>
                            <input type="hidden" name="Name" value="@result.Name" />

                            <div class="additional-info" id="additional-info">
                                <p class="followers-count"><strong>FollowersCount: </strong>@result.FollowersCount</p>
                                <input type="hidden" name="FollowersCount" value="@result.FollowersCount" />

                                <p class="friend-count"><strong>FriendsCount: </strong> @result.FriendsCount</p>
                                <input type="hidden" name="FriendsCount" value="@result.FriendsCount" />

                                <p class="location">@result.Location</p>
                                <input type="hidden" name="Location" value="@result.Location" />

                                <p class="description" @result.Description></p>
                                <input type="hidden" name="Description" value="@result.Description" />
                            </div>

                            <input type="hidden" name="TweeterUserId" value="@result.TweeterUserId" />

                            <button class="button" type="button" name="Show more info">Show more</button>
                            <button class="add-fav-user" id="@result.TweeterUserId" type="submit">Add</button>
                        </div>
<<<<<<< HEAD
                        
                        <button class="button" type="button" name="Show more info">Show more</button>
                        <button class="add-fav-user" id="@result.TweeterUserId" type="button">Add</button>
                    </div>
=======
                    </form>
>>>>>>> bb27cf1e5f0d3a7314a1cb17bb3044c77486837b
                </li>
            }

        </ul>
    </div>
}

else
{
    <h1> No results </h1>
}
