@model SearchResultsViewModel

@section CSS {
    <link rel="stylesheet" href="~/css/SearchResults.css" />
}

@if (@Model.SearchResults.Count() != 0)
{
    <div id="search-results">
        <ul>
            @foreach (var result in Model.SearchResults)
            {
                @if (result.IsSaved == false)
                {
                    <li class="list-group-item">
                        <form asp-controller="AddTwitterUser" asp-action="AddUser" method="post">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <img class="profile-image" src="@result.ImgUrl" name="ImgUrl" />
                                        <span class="name">@result.Name</span>
                                        <input type="hidden" name="TwitterUserId" value="@result.TwitterUserId" />
                                        <button class="button" id="@result.TwitterUserId" type="submit">Add</button>
                                </div>
                            </div>
                        </form>
                    </li>
                }
                else
                {
                    <li class="list-group-item">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <img class="profile-image" src="@result.ImgUrl" name="ImgUrl" />
                                <span class="name">@result.Name</span>
                                <button class="button" disabled>Added</button>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
}

else
{
    <h1> No results </h1>
}
