@model IList<UserDTO>
@{
    ViewData["Title"] = "ViewAllUsers";
}

<div id="list-of-users">
    @foreach (var user in Model)
    {
        <div class="user">
            <div>
                <h4>@user.Email</h4>
                <p>@user.CreatedOn</p>
                <a asp-controller="ManageUser" asp-action="FavouriteTwitterUsers" asp-route-id="@user.Id" class="card-link">Saved Twitter Users</a>
                <a asp-controller="ManageUser" asp-action="FavouriteTweets" asp-route-id="@user.Id" class="card-link">Saved Tweets</a>
                <a class="credentials-link" asp-controller="ManageUser" asp-action="GiveAdminCredentials" asp-route-id="@user.Id" class="card-link">Give Admin Credentials</a>
            </div>
        </div>
        <hr />
    }
</div>

@section Scripts {
    <script src="~/js/give-credentials.js"></script>
}